h1#title{
  font-family:'Josefin Sans', sans-serif;
  font-size:555%;
  letter-spacing: 4px;
  background: -webkit-linear-gradient(135deg, #69F0AE, #00BCD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

